@import "tailwindcss";

/* Reset */
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Apply Raleway everywhere */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
li {
  font-family: var(--font-raleway), sans-serif;
}

/* Optional: Monospace for code */
code,
pre,
kbd,
samp {
  font-family: monospace;
}

/* Base styles */
body {
  background-color: #f9f9f9;
  color: #111;
}
